.movie-card {
  width: 13rem;
  margin: 2rem 1rem;
  text-align: left;
  color: $white-color;

  @media (min-width: $tablet-768) {
    width: 15rem;
  }

  @media (min-width: $tablet-1024) {
    width: 16rem;
  }

  &__poster {
    width: 13rem;
    height: 22rem;
    border: 0.1rem solid #ddd;
    border-radius: 1rem;
    cursor: pointer;

    @media (min-width: $tablet-768) {
      width: 15rem;
      height: 24rem;
    }

    @media (min-width: $tablet-1024) {
      width: 16rem;
      height: 25rem;
    }
  }

  &__year {
    font-size: 1.4rem;
  }

  &__rating {
    fill: $accent-color;
  }

  &__svg {
    margin: 0 0.1rem;

    &:first-of-type,
    &:last-of-type {
      margin: 0;
    }
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    word-wrap: break-word;

    &:hover {
      text-decoration: underline;
    }
  }
}
