.top-bar {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1.5rem 0 1rem 0;

  @media (min-width: $tablet-768) {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 1.5rem;

    @media (min-width: $tablet-768) {
      flex: 2;
      justify-content: flex-start;
      margin-bottom: 0;
    }
  }

  &__search {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: $tablet-768) {
      flex: 4;
    }

    @media (min-width: $tablet-1024) {
      flex: 2;
    }
  }

  &__svg {
    position: absolute;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    width: 1.5rem;
    height: 1.5rem;
    fill: $accent-color;
  }
}
